@mixin desc($color, $size) {
  color: $color;
  font-family: Inter;
  font-size: $size;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@mixin button() {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  background: #ffd76e;
  width: 199.863px;
  height: 60px;
  border: 0;
  cursor: pointer;
  transition: 2s all;
}
@mixin title() {
  color: #ffd76e;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
