.about {
  background: $color_1;

  padding: 36px 0 200px 0;
  .container{
    position: relative;
  }
  &__box{
    display: flex;
 
    flex-direction: column;
   align-items:flex-end;
   max-width: 625px;
  }
  &__blocks {
    display: flex;
    justify-content: space-around;
   
    text-align: justify
  }
  &__titel {
    @include title();
  }
  &__desc {
    @include desc($color_2, 24px);
    text-align: justify;
  }
  &__btn {
    @include button();
   
  }

}
