.partial{
    background:url(../img/prapor-Uk.png) center/cover no-repeat;
    position: relative;
    overflow-x: clip;
    &__overlay{
        background: rgba(255, 255, 255, 0.27);
    box-shadow: -1px 1px 8px -3px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(4.5px);
    height:297px;
    }
    &__titel{
        padding: 72px 0 0 0;
        margin-top: 0;
        color: $color_1;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    line-height: normal;
    }
    &__text{
        color: $color_1;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
    &__line-people-yellow{
      
        border: 2px solid #ffd76e;
        width: 247.547px;
        height: 369.028px;
        transform: rotate(-10.004deg);
        position: absolute;
        right: 8%;
        bottom: 40px;
        z-index: 1;
      }
      &__line-people-white {
          
        border: 2px solid $color_2;
        width: 178.9px;
        height: 340.934px;
        transform: rotate(-100.004deg);
        position: absolute;
        right:1%;
        bottom: -52px;
        z-index: 20;
      }
    }