.promo {
    background: url(../img/promo-img.png) center/cover no-repeat;
    padding: 120px 0 10px 0;
    height: 1000px;
    &-titel {
       margin: 0;
        color: #fff;
        font-family: Inter;
        font-size: 128px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    &-subtitel {
    
        color: #fff;
        font-family: Inter;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    &-text {
      
        color: #fff;
        text-align: justify;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      &-btn{
        @include button();
      }
    &-btn:hover {
        transform: rotate(360deg);
      }
    &-subtext {
        color: #fff;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
         text-align: center;
       margin: 13px;
      }
  & i{
    margin-left: 50%;
  }
      &__clik{
        margin-top: 220px;
      }
  }
